<table mat-table [dataSource]="data" class="mat-elevation-z8" multiTemplateDataRows>
  <ng-container matColumnDef="designation">
    <th mat-header-cell *matHeaderCellDef> <strong> Désignation </strong> </th>
    <td mat-cell *matCellDef="let groupe">
      <div class="designation-group">
        <button mat-icon-button (click)="toggleCollapse(groupe)">
          <mat-icon>{{!collapsedElements.includes(groupe) ? "expand_less" : "expand_more"}}</mat-icon>
        </button>
        <p class="designation-text"> <strong>{{groupe.designation}}</strong></p>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="qte">
    <th mat-header-cell *matHeaderCellDef> <strong>Qté</strong> </th>
    <td mat-cell *matCellDef="let groupe"> </td>
  </ng-container>

  <ng-container   matColumnDef="unite">
    <div>
      <th mat-header-cell *matHeaderCellDef> <strong>Unité</strong> </th>
    </div>
    <th mat-header-cell *matHeaderCellDef> <strong>Unité</strong> </th>
    <td mat-cell *matCellDef="let groupe"> </td>
  </ng-container>

  <ng-container   matColumnDef="pu">
    <th mat-header-cell *matHeaderCellDef> <strong>PU</strong> </th>
    <td mat-cell *matCellDef="let groupe"> </td>
  </ng-container>

  <ng-container  matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> <strong>Total</strong> </th>
    <td mat-cell *matCellDef="let groupe">
      {{groupe.total | number:'1.2-3'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> <strong>Action</strong> </th>
    <td mat-cell *matCellDef="let groupe; let i=dataIndex;">
      <div class="flex">
        <button mat-icon-button class="ligne-delete" (click)="showElement(i)">
          <mat-icon color="primary">add</mat-icon>
        </button>
        <div>
          <app-add-button *ngIf="i=== showAddIndex" (addType)="add($event,groupe,i)"> </app-add-button>
        </div>
        <button mat-icon-button class="ligne-delete" (click)="remove(groupe)">
          <mat-icon color="warn">remove</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="sousGroupes">
    <td mat-cell *matCellDef="let groupe" [attr.colspan]="displayedColumns.length">
      <div  class="groupeChiffrage-detail" [@sousGroupeExpand]="!collapsedElements.includes(groupe) ? 'expanded' : 'collapsed'">
        <app-table (sousGroupeEmit)="deleteSousGroupe($event,groupe)" [sousGroupes]="groupe.sousGroupes" ></app-table>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="lignes">
    <td mat-cell *matCellDef="let groupeChiffrage" [attr.colspan]="displayedColumns.length">
      <div class="groupeChiffrage-detail" [@ligneExpand]="!collapsedElements.includes(groupeChiffrage) ? 'expanded' : 'collapsed'">
        <app-ligne [lignes]="groupeChiffrage.lignes" (ligne)="deleteLigne($event,groupeChiffrage)"></app-ligne>
      </div>
    </td>
  </ng-container>

  <ng-container *ngIf="groupes">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  </ng-container>
  <tr mat-row *matRowDef="let groupe; columns: displayedColumns;"></tr>
  <tr mat-row *matRowDef="let groupeChiffrage; columns: ['lignes']"
      [class.hidden]="groupeChiffrage.lignes.length === 0 || collapsedElements.includes(groupeChiffrage)"></tr>
  <tr mat-row *matRowDef="let groupe; columns: ['sousGroupes']"
      [class.hidden]="groupe.sousGroupes.length === 0 || collapsedElements.includes(groupe)"
      class="groupeChiffrage-row"></tr>
</table>
