table {
  width: 80em;
}

th.mat-header-cell {
  text-align: center !important;
}

.mat-column-expandedDetail {
  padding: 0 !important;
}

.mat-column-sousGroupes {
  padding: 0 !important;
}

.mat-column-lignes {
  padding: 0 !important;
}

.mat-header-cell {
  border-right: 1px solid lightgray;
}
.mat-column-designation {
  width: 60%;
  border-top: 1px solid lightgray;
}
.mat-column-qte {
  width: 8%;
  border-top: 1px solid lightgray;

}
.mat-column-unite {
  width: 8%;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
.mat-column-pu {
  width: 12%;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;

}
.mat-column-total {
  width: 12%;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;

}

.designation-group {
  display: flex;
  align-items: center;

}

.designation-text {
  margin: 0 0 0 1em !important;
}


.groupeChiffrage-row {
  height: 0;
}

.groupeChiffrage-detail {
  overflow: hidden;
  /*display: flex;*/
}

.hidden {
  display: none;
}
